{% extends 'base.html.twig' %}

{% block title %}Portfolio index{% endblock %}

{% block body %}
    <ul class="cards">
        {% for portfolio in portfolios %}
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--fence">
                    <img src="{{ vich_uploader_asset(portfolio, 'imageFile')|imagine_filter('portfolio') }}"
                         alt="">
                </div>
                <div class="card__content">
                    <div class="card__title">{{ portfolio.title }}</div>
                    <p class="card__text">{{ portfolio.description|raw }}</p>
                    <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}">
                        <button class="btn btn--block card__btn">Project details</button>
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}
