{% extends 'base.html.twig' %}

{% block title %}Portfolio index{% endblock %}

{% block body %}
    <ul class="cards">
        {% for portfolio in portfolios %}
        <li class="cards__item">
            <div class="card">
                <div class="card__title text-center"><h2 class="text-primary stm-font">{{ portfolio.title }}</h2></div>
                <div class="card__image card__image--fence">
                    <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}">
                    <img src="{{ vich_uploader_asset(portfolio, 'imageFile')|imagine_filter('portfolio') }}"
                         alt="">
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}
