{% extends 'base.html.twig' %}

{% block title %}DEVEKTO Confirmation{% endblock %}

{% block body %}

    <div class="container contact-response">
        <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="section-heading">
                    <h1 class="contact-ok"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Votre message a bien été envoyé
                    </h1>
                    {# <span class="animate-border border-black contact-anime"></span> #}
                    <img src="/image/contact.jpg" class="img-footer" alt="">
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-10">
                <a href="/">
                    <button class="btn-exp btn-2 btn-contact-send"><i class="fas fa-home"></i> Retour à l'accueil</button>
                </a>
            </div>
            <div class="col-1"></div>
        </div>
    </div>







{% endblock %}
