<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

<footer id="dk-footer" class="dk-footer">

    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="footer-social-link">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <div class="dk-footer-box-info">
                                    <div class="contact-icon contact-info">
                                        <i class="fa fa-map-marker"><a class="footer-text"> Strasbourg,
                                                FRANCE</a></i><br>
                                        <i class="fa fa-phone"><a class="footer-text"> +33
                                                667706351</a></i><br>
                                        <i class="fa fa-envelope"><a class="footer-text"> devekto@gmail.com</a>
                                        </i><br>
                                    </div>
                                    <div class="footer-social-link">
                                        <ul>
                                            <li>
                                                <a href="https://github.com/MAXIKAIS">
                                                    <i class="fa fa-github select-icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/maxime-kaiser/">
                                                    <i class="fa fa-linkedin select-icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/max_k4iser/?hl=fr">
                                                    <i class="fa fa-instagram select-icon"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.facebook.com/Miasme4/">
                                                    <i class="fa fa-facebook select-icon"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-6">
                                <div class="col-12 useful-links-footer">
                                    <div class="footer-widget footer-left-widget">
                                        <div class="section-heading">
                                            <h3>Liens utiles</h3>
                                            <span class="animate-border border-black"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <ul>
                                                    <li>
                                                        <a href="/">Accueil</a>
                                                    </li>
                                                    <li>
                                                        <a href="#about">A propos</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul>
                                                    <li>
                                                        <a href="#experiences">Experiences</a>
                                                    </li>
                                                    <li>
                                                        <a href="#portfolio">Projets</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul>
                                                    <li>
                                                        <a href="#interests">Interets</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('contact_new')}}">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div> <!-- end 3eme row -->
                                    </div> <!-- end col-8 -->
                                </div> <!-- end 2nd row -->
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                </div> <!-- end social-link -->
            </div> <!-- end col-12 -->
        </div> <!-- end row-about -->
    </div> <!-- end container -->


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>Copyright © 2020 DEVEKTO</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to top -->
    <div id="back-to-top" class="back-to-top">
        <button class="btn btn-dark" title="Back to Top" style="display: block;">
            <a href="#">
                <i class="fas fa-arrow-alt-circle-up"></i>
            </a>
        </button>
    </div>
    <!-- End Back to top -->
</footer>
