<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

<footer id="dk-footer" class="dk-footer">

    <div class="container">
        <div class="section-heading">
            <h1 class="contact-h1"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Contact</h1>
            <span class="animate-border border-black contact-anime"></span>
        </div>

        <div class="row row-about">
            <div class="col-12">

                <div class="footer-social-link">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <img src="image/contact.jpg" class="img-footer" alt="">
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="text" class="form-control name-form" placeholder="Name">
                                            <input type="email" class="form-control mail-form"
                                                   placeholder="Email Address">
                                            <textarea class="form-control textarea-form" id="exampleTextarea"
                                                      rows="3" placeholder="Message"></textarea>
                                            <button class="btn btn-primary" type="submit">Submit<i
                                                        class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-5">
                                <div class="dk-footer-box-info">
                                    <div class="contact-icon contact-info">
                                        <i class="fa fa-map-marker"><a class="footer-text"> Strasbourg,
                                                FRANCE</a></i><br>
                                        <i class="fa fa-phone"><a class="footer-text"> +33
                                                679823972</a></i><br>
                                        <i class="fa fa-envelope"><a class="footer-text"> devekto@gmail.com</a>
                                        </i><br>
                                    </div>
                                    <div class="footer-social-link">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 useful-links-footer">
                                    <div class="footer-widget footer-left-widget">
                                        <div class="section-heading">
                                            <h3>Useful Links</h3>
                                            <span class="animate-border border-black"></span>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <ul>
                                                    <li>
                                                        <a href="#">Home</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">About us</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul>
                                                    <li>
                                                        <a href="#">Projects</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Terms</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul>
                                                    <li>
                                                        <a href="#">Privacy Policy</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Testimonials</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div> <!-- end 3eme row -->
                                    </div> <!-- end col-8 -->
                                </div> <!-- end 2nd row -->
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- end container -->
                </div> <!-- end social-link -->
            </div> <!-- end col-12 -->
        </div> <!-- end row-about -->
    </div> <!-- end container -->


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>Copyright © 2020 DEVEKTO</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to top -->
    <div id="back-to-top" class="back-to-top">
        <button class="btn btn-dark" title="Back to Top" style="display: block;">
            <a href="#">
                <i class="fas fa-arrow-alt-circle-up"></i>
            </a>
        </button>
    </div>
    <!-- End Back to top -->
</footer>
