<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

<footer id="dk-footer" class="dk-footer">

{#    <div class="container">#}

{#        <div class="row">#}
{#            <div class="col-12">#}

{#                <div class="footer-social-link">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-6">#}
{#                                <div class="dk-footer-box-info">#}
{#                                    <div class="contact-icon contact-info">#}
{#                                        <i class="fa fa-map-marker"><a class="footer-text"> Strasbourg,#}
{#                                                FRANCE</a></i><br>#}
{#                                        <i class="fa fa-phone"><a class="footer-text"> +33#}
{#                                                667706351</a></i><br>#}
{#                                        <i class="fa fa-envelope"><a class="footer-text"> devekto@gmail.com</a>#}
{#                                        </i><br>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-6">#}
{#                                <div class="col-12 useful-links-footer">#}
{#                                    <div class="footer-widget footer-left-widget">#}
{#                                        <div class="row">#}
{#                                            <div class="col-2">#}
{#                                            </div>#}
{#                                            <div class="col-8">#}
{#                                                <div class="section-heading text-center">#}
{#                                                    <h3>Liens utiles</h3>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-2">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="row">#}
{#                                            <div class="col-2">#}
{#                                            </div>#}
{#                                            <div class="col-2">#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <div class="section-heading text-center anim-footer">#}
{#                                                    <span class="animate-border border-black anim-footer"></span>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-2">#}
{#                                            </div>#}
{#                                            <div class="col-2">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="row text-center">#}
{#                                            <div class="col-4">#}
{#                                                <a href="/">Accueil</a>#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <a href="#portfolio">Projets</a>#}
{#                                            </div>#}
{#                                            <div class="col-4">#}
{#                                                <a href="{{ path('contact_new') }}">Contact</a>#}
{#                                            </div>#}
{#                                        </div> <!-- end 3eme row -->#}
{#                                    </div> <!-- end col-8 -->#}
{#                                </div> <!-- end 2nd row -->#}
{#                            </div>#}
{#                        </div> <!-- end row -->#}
{#                    </div> <!-- end container -->#}
{#                </div> <!-- end social-link -->#}
{#            </div> <!-- end col-12 -->#}
{#        </div> <!-- end row-about -->#}
{#    </div> <!-- end container -->#}


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <a href="https://github.com/MAXIKAIS">
                            <i class="fa fa-github select-icon"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/maxime-kaiser/">
                            <i class="fa fa-linkedin select-icon"></i>
                        </a>
                        <a href="https://www.instagram.com/max_k4iser/?hl=fr">
                            <i class="fa fa-instagram select-icon"></i>
                        </a>

                        <a href="https://www.facebook.com/Miasme4/">
                            <i class="fa fa-facebook select-icon"></i>
                        </a>
                    </div>
                    <span>Copyright © 2020 DEVEKTO</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to top -->
    <div id="back-to-top" class="back-to-top">
        <button class="btn btn-dark" title="Back to Top" style="display: block;">
            <a href="#">
                <i class="fas fa-arrow-alt-circle-up"></i>
            </a>
        </button>
    </div>
    <!-- End Back to top -->
</footer>
